:root{
  --clr-bg-canvas-primary: #F2F2F2;
  --clr-text-primary: black;
  --clr-tool-button-hover: rgb(217, 223, 252);
  --clr-tool-stack: #ffffff;
  --clr-tool-border-primary: #3859FF;
  
  /* z index */
  --z-index-cursor: 1;


  /* box shadows */
  --box-shadow-tool-stack: 0px 2px 10px rgba(5, 0, 56, 0.08);  

  /* width */
  --tool-button-width: 4rem;
  --tool-panel-gap: 0.8rem;

  /*  screens */
  --screen-small: 600px;

}


.light{
  --clr-bg-canvas-primary: #F2F2F2;
  --clr-text-primary: black;
}

.dark{
  --clr-bg-canvas-primary: #333;
  --clr-text-primary: #F2F2F2;
}


