:root{
  --clr-bg-canvas-primary: #F2F2F2;
  --clr-text-primary: black;
  --clr-tool-button-hover: rgb(217, 223, 252);
  --clr-tool-stack: #ffffff;
}


.light{
  --clr-bg-canvas-primary: #F2F2F2;
  --clr-text-primary: black;
}

.dark{
  --clr-bg-canvas-primary: #333;
  --clr-text-primary: #F2F2F2;
}


