

.toolBar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .6rem;
}

.toolBarInnerWrapper{
  position: relative;
}

.subToolsContainer{
  position: absolute;
  top: 0;
  right: calc(-100% - 0.8rem);
}