
.colorSelectionToolBar{
  position: absolute;
  top: -250%;
  right: -16.2rem;
  padding: 1.4rem;
  background-color: var(--clr-tool-stack);
  border-radius: .4rem;
  box-shadow: -5px 5px 10px 0px rgba(5,0,56,0.08);  
}