.toolStack {
  padding: 0.4rem;
  background-color: var(--clr-tool-stack);
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow-tool-stack);
  display: flex;
  gap: 0.4rem;
  & > *:not(:last-child) {
    padding-bottom: 0;
  }

  @media screen and (min-width: 642px) {
    & > *:not(:last-child) {
      padding-bottom: 0.4rem;
    }
    display: block;
    width: fit-content;
  }
}
