@font-face {
  font-family: "randRegular";
  src: url("../../assets/fonts/Rand-Regular.woff2") format("woff2"),
       url("../../assets/fonts/Rand-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}